@use "sass:string";
@use "sass:math";
@use "./typing-gen.scss";
@use "./utils.scss";

@mixin apply-typing(
  $instructions,
  $duration,
  $delay,
  $typing-timing-func: ease-in-out,
  $cursor: true,
  $cursor-thickness: 2px,
  $cursor-style: solid,
  $cursor-color: black,
  $cursor-duration: 1s,
  $cursor-timing-func: ease-in-out,
  $cursor-start-delay: 0s,
  $cursor-end-delay: 2,
  $preserve-whitespace: true,
  $set-content: true
) {
  $typing-keyframes-name: "typing-" + string.unique-id();
  $cnt: get-cnt($instructions);
  @include typing-gen.generate-typing($typing-keyframes-name, $instructions);

  &::before {
    @if $set-content {
      content: "";
    }

    animation: #{$typing-keyframes-name} $duration $typing-timing-func $delay forwards;
    @if $preserve-whitespace {
      white-space: pre;
    }
  }

  @if $cursor {
    &::after {
      opacity: 0;
      content: "";
      border-right: $cursor-thickness $cursor-style $cursor-color;
      animation: #{typing-gen.$blink-cursor-keyframes-name} $cursor-duration $cursor-timing-func $cursor-start-delay math.ceil(utils.strip-unit(
        $duration + $delay - $cursor-start-delay + $cursor-end-delay
      ));
    }
  }
}
